<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <title>ספר הטלפונים של ירוחם - אחזור מידע</title>
        <link href="css/styles.css" rel="stylesheet">
        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-touch.min.js"></script>
        <script src="lib/angular-resource.min.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-route.min.js"></script>
        <script src="lib/angular-sanitize.min.js"></script>
        <script src="js/DataExtractorApp.js"></script>
        <script src="js/DataExtractorControllers.js"></script>
        <script src="js/DataExtractorData.js"></script>
    </head>
    <body ng-controller="MainCtrl">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item right full">
                <h1 class="topcoat-navigation-bar__title">
                    <a href="https://sites.google.com/site/yeruchamphonebook/">ספר הטלפונים של ירוחם - אחזור מידע</a>
                </h1>
            </div>
        </div>
        <div class="search-bar">
            <table text-align="right" dir="ltr">
                <tr>
                    <td class="search-label">Title:</td>
                    <td><input ng-model="titleFilter" type="search" autofocus="autofocus" focus-on="searchFocus"></td>
                </tr>
                <tr>
                    <td class="search-label">Text:</td>
                    <td><input ng-model="textFilter" type="search"></td>
                </tr>
                <tr>
                    <td class="search-label">URL:</td>
                    <td><input ng-model="urlFilter" type="search"></td>
                </tr>
                <tr>
                    <td class="search-label">Name:</td>
                    <td><input ng-model="nameFilter" type="search"></td>
                </tr>
                <tr>
                    <td class="search-label">HTML:</td>
                    <td><input ng-model="htmlFilter" type="search"></td>
                </tr>
            </table>
        </div>
        <div>
            <div>{{resultsCount}} תוצאות</div>
            <div />
            <table border="1" width="75%">
                <tr>
                    <td width="200">שם</td>
                    <td width="150">מייל</td>
                    <td width="100">טלפון 1</td>
                    <td width="100">טלפון 2</td>
                    <td width="100">טלפון 3</td>
                </tr>
                <tr ng-repeat="page in pages | pagesFilter:this | orderBy:'title'">
                    <td><a ng-href="{{page.url}}">{{page.title}}</a></td>
                    <td><p ng-bind-html="getMail(page.text)"></td>
                    <td><p ng-bind-html="getPhone(page.text, 0)"></td>
                    <td><p ng-bind-html="getPhone(page.text, 1)"></td>
                    <td><p ng-bind-html="getPhone(page.text, 2)"></td>
                </tr>
            </table>
        </div>
    </body>
</html>